<div class="container">

  <h1>All flats</h1>

  <div class="card-deck d-flex flex-wrap align-items-start">

    <% @flats.each do |flat| %>

      <div class="card m-3 shadow-sm" style="width: 18rem;">
        <div class="card-body">

          <h5 class="card-title"><%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>

          <div class="container d-flex justify-content-around">
            <p class="card-text"><%= flat.number_of_guests %> <i class="fa-solid fa-people-roof"></i></p>
            <p class="card-text"><%= flat.price_per_night %> <i class="fa-solid fa-euro-sign"></i></p>
          </div>

          <%= link_to 'More info', flat_path(flat), class:'card-link' %>

        </div>
      </div>

    <% end %>

  </div>

</div>
